/*
  PAGE 1
*/

/*background image and font for the body element*/
body {
  background-image: url(/img/front-page-restaurant.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

/*styling and positioning the page container*/
.container {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1em;
  grid-template-columns: auto auto;
	grid-template-rows: 380px auto auto;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 20px 0;
}

/*styling the header*/
.header {
  color: white;
  font-family: 'Brush Script MT', cursive;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding: 1px;

}

/*
  STAFF PASSWORD VALIDATOR
*/

/*styling and positioning the password section*/
.login {
  background: #C0C2C0;
  opacity: 0.9;
  justify-self: center;
  max-width: 400px;
  height: 300px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.788);
}

/*styling and positioning the username and password fields*/
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #C0C2C0;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
}

/*styling and positioning the submit button*/
input[type=submit] {
  background-color: #7DB2B6;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

/*styling and positioning the messages and validators*/
#message {
  display: none;
  background-color: red;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 20px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

/*
  MENU
*/

/*styling and positioning the menu*/
.menu {
  background: #C0C2C0;
  opacity: 0.9;
  width: 100%;
  max-width: 700px;
  height: fit-content;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.788);
}

/*styling and positioning the menu titles*/
.title {
  color: #3C4F51;
  font-family: 'Brush Script MT', cursive;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

/*styling and positioning the the article tag*/
article {
  display: flex;
  text-align: left;
  width: 100%;
  width: 500px;
  padding: 0px;
  margin: 0 20px;
  border-bottom: 1px solid gray;
}

/*width for the item*/
.item {
  width: 100%;
}

/*styling and positioning the quantity input*/
.qnt {
  width: 100%;
  max-width: 40px;
  align-self: center;
  justify-content: center;
  padding: 20px;
  margin: 0;
}

.qnt > input {
  margin: 0;
}

/*styling the dishes names*/
h4 {
  font-weight: bold;
}

/*
  RANDOM USER GENERATOR
*/

/*styling and positioning the the random user generator section*/
.users {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  background: #C0C2C0;
  opacity: 0.9;
  max-width: 500px;
  height: 850px;
  padding: 30px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.788);  
}

/*styling and positioning the random user generator button*/
#getRandom {
  background-color: #7DB2B6;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px;
  margin: 10px 75px;
  border-radius: 5px;
}

/*styling and positioning the random user generator result*/
#output {
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 20px;
}

/*
  BILL
*/

/*styling and positioning the bill items*/
.bill {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 4;

  background: #C0C2C0;
  opacity: 0.9;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  height: 330px;
  padding: 50px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.788);
}

/*styling and positioning the table*/
th, tr, td {
  text-align: center;
  padding-left: 50px;
}

@media screen and (max-width: 950px) {
  .container {
    grid-template-columns: auto;
  }
}

/*
  PAGE 2
*/

.clickme1 {
  background-color: #7DB2B6;
  color: white;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}

.clickme2 {
  background-color: #7DB2B6;
  color: white;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}

.clickme3 {
  background-color: #7DB2B6;
  color: white;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}

.clickme4 {
  background-color: #7DB2B6;
  color: white;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}

.foodimages {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.788);
}

.grid-container {
  background: #C0C2C0;
  opacity: 0.9;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1em;
  grid-template-columns: auto auto;
	grid-template-rows: auto auto;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px;
  margin: 50px 500px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.788);
}

.grid-item {
  padding: 20px;
  text-align: center;
}