/*background image and font for the body element*/
body {
  background-image: url(/img/front-page-restaurant.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*styling for the header*/
.header {
  font-family: 'Brush Script MT', cursive;
  color: #3C4F51;
  text-align: center;
  font-size: 50px;
  font-style: italic;
  padding: 1px;
  margin: 10px 95px 0px 115px;
  text-align: center;
  background: #C0C2C0;
  opacity: 0.9;
}

/*positioning and styling for the password section*/
#section1 {
  position: relative;
  right: 500px;
  background: #C0C2C0;
  opacity: 0.9;
  padding: 30px;
  width: 600px;
  height: 300px;
  margin: 10px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.788);
}

/*positioning and styling for the random user generator section*/
#section2 {
  position: relative;
  right: 500px;
  background: #C0C2C0;
  opacity: 0.9;
  padding: 30px;
  width: 600px;
  height: 500px;
  margin: 10px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.788);
}

/*positioning and styling for the menu section*/
#section3 {
  position: absolute;
  top: 267px;
  right: 100px;
  background: #C0C2C0;
  opacity: 0.9;
  padding: 30px;
  width: 950px;
  height: 870px;
  margin: 10px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.788);
}

/*positioning for the overall bill*/
#bill {
  position: absolute;
  top: 1000px;
  right: 900px;

}

/*password section - styling for the username and password fields*/
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #C0C2C0;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
}

/*password section - styling for the submit button*/
input[type=submit] {
  background-color: #7DB2B6;
  color: white;
  font-size: 15px;
  font-weight: bold;
  }

/*password section - styling for the messages and validators*/
#message {
  display: none;
  background-color: red;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 20px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

/*styling for the random user generator button*/
#getRandom {
  background-color: #7DB2B6;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 10px 120px;
  cursor: pointer;
  border-radius: 5px;
}

/*styling for the random user generator result*/
#output {
  color: black;
  font-size: 30px;
  border: none;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  cursor: pointer;
  border-radius: 5px;
}

/*styling for the menu titles*/
.title {
  font-family: 'Brush Script MT', cursive;
  color: #3C4F51;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}

/*styling for table's rows and columns*/
th, td {
  padding: 5px;
  text-align: left;
}

/*size of the table*/
table {
  width: 950px;
}
